body {
    background-color: hsl(0, 0%, 90%) !important;
}

/* Estilo para o cabeçalho vermelho */
.header-page {
    background-color: #3b71ca;
    color: #fff; /* Texto branco */
    padding: 20px; /* Espaçamento interno */
    /* width: 100%; */
}

/* Estilo para o texto dentro do cabeçalho */
.header-page h1 {
    margin: 0; /* Remover margem padrão do título */
}

h2 {
    margin-bottom: 7% !important;
}

.container {
    align-items: center;
}

.card {
    width: 50%;
    margin: auto;
    margin-top: 7%;
}